/* custom css */

/*---------Branding Region-------------*/
	#zone-header-wrapper {
		background-color: #191919;
	}
	
/* mobile menu */
	.mobile-menu-toggle-container a div {
		background-color: #960;
	}
.view-news .form-item .description {
	display:none;
}


@media screen and (max-width: 600px) {

/* Arts and Science Awards page */
.page-node-1426 .field-item table td {
	display: block;
	width: 100% !important;
	padding-right: 0 !important;
}

}